﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to KPMG Assignment</h1>
    <p>
        KPMG Assignment is a web application that processes account transaction data to calculate tax figures for a client tax return.
        <br />
        This is the data input/manipulation phase of the process, which is achieved through an upload feature.
        <br /><br />
        Click on the <strong>Account Transaction</strong> link from the top menu to see all the account transaction data in the system.
    </p>
</div>
