﻿@model IEnumerable<KPMG.Assignment.Web.Models.AccountTransaction>

@{
    ViewBag.Title = "Index";
}
@Styles.Render("~/Content/dataTables")

<h2>Transaction Data List</h2>


<p>
    @Html.ActionLink("Upload New Transaction Data", "Index", "Upload")
</p>

<div>
    <table id="accountTransactionTable" class="display" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Account)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrencyCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionDate)
            </th>
            <th></th>
        </tr>
        </thead>

        @if (Model.Any())
        {
            <tfoot>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Account)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CurrencyCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Amount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TransactionDate)
                    </th>
                    <th></th>
                </tr>
            </tfoot>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Account)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CurrencyCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TransactionDate)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.TransactionId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.TransactionId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.TransactionId })
                        </td>
                    </tr>
                }
            </tbody>
        }
        else
        {
            <tbody>
            <tr>
                <td>No Account Transaction. Upload new file!</td>
            </tr>
            </tbody>
        }
          
    </table>
</div>

@section scripts {
                <script type="text/javascript">
                    $(document)
                        .ready(function () {
                            $('#accountTransactionTable').DataTable();
                        });
                </script>
            }
