﻿@model KPMG.Assignment.Web.Models.ContentAddedViewModel
@{
    ViewBag.Title = "AddFileContent";
}

<h2>Transaction Import</h2>
<p>
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
</p>
@if (ViewData.ModelState.IsValid)
{
    var numberOfFailedLines = Model.NumberOfLines - Model.NumberOfImportedLines;
    <h4>Import Details:</h4>
    <table class="table">
        <tr>
            <th>
                Total number of lines
            </th>
            <th>
                Number of lines imported
            </th>
            <th>
                Number of failes lines
            </th>
        </tr>
        <tr>
            <td>
                @Model.NumberOfLines.ToString()
            </td>
            <td>
                @Model.NumberOfImportedLines.ToString()
            </td>
            <td>@numberOfFailedLines.ToString()</td>
        </tr>


    </table>
    if (Model.FailedLines.Count > 0)
    {
        <h4>Failed Lines:</h4>
        <table class="table">
            <tr>
                <th>
                    Line Number
                </th>
                <th>
                    Error Message
                </th>
            </tr>

            @foreach (var item in Model.FailedLines)
            {
                <tr>
                    <td>
                        @item.Key.ToString()
                    </td>
                    <td>
                        @item.Value
                    </td>
                </tr>
            }

        </table>
    }
}

<div>
    @Html.ActionLink("Upload new file", "Index") |
    @Html.ActionLink("View Transaction", "Index", "AccountTransaction")
</div>