﻿@using System.Data
@model KPMG.Assignment.Web.Models.UploadViewModel

@{
    ViewBag.Title = "Account Transaction - Upload";
}
<br/>
<div class="form-horizontal">
    @if (Model.TransactionTable != null)
         {
             <table id="uploadTransactionTable" class="display" width="100%">
                 <thead>
                 <tr>
                     @foreach (DataColumn dataColumn in Model.TransactionTable.Columns)
                     {
                         <th>@dataColumn.ColumnName</th>
                     }
                 </tr>
                 </thead>
                 <tbody>
                 @foreach (DataRow dataRow in Model.TransactionTable.Rows)
                 {
                     <tr>
                         @foreach (DataColumn columnValue in Model.TransactionTable.Columns)
                         {
                             <td>@dataRow[columnValue.ColumnName]</td>
                         }
                     </tr>
                 }
                 </tbody>
             </table>
             <br/>
             <div>
                 @Html.ActionLink("Upload new file", "Index") |
                 @Html.ActionLink("Save", "AddFileContent")
             </div>
         }
         else
         {
             using (Html.BeginForm("Index", "Upload", FormMethod.Post, new {enctype = "multipart/form-data"}))
             {
                 <h2>Account Transaction Upload - The format must be in Excel (xlsx) or CSV.</h2>
                 <br/>
                 @Html.AntiForgeryToken()

                 @Html.ValidationSummary(true, "", new {@class = "text-danger"})


                 <div class="form-group">
                     @Html.LabelFor(model => model.TransactionFile, new {@class = "control-label col-md-2"})
                     <div class="col-md-10">
                         @Html.TextBoxFor(model => model.TransactionFile, new {type = "file"})
                         @Html.ValidationMessageFor(model => model.TransactionFile, "", new {@class = "text-danger"})
                     </div>
                 </div>

                 <div class="form-group">
                     <div class="col-md-offset-2 col-md-10">
                         <input type="submit" value="Upload" class="btn btn-default"/>
                     </div>
                 </div>
             }
         }
</div>

@section scripts {
    <script type="text/javascript">
                    $(document)
                        .ready(function () {
                            $('#uploadTransactionTable').DataTable({
                                "paging": false,
                                "ordering": false,
                                "searching": false,
                                "info": false
                            });
                        });
    </script>
}